meta.foundation-mq-small {
  font-family: "only screen and (min-width: 768px)";
  width: 768px; }

meta.foundation-mq-medium {
  font-family: "only screen and (min-width:1280px)";
  width: 1280px; }

meta.foundation-mq-large {
  font-family: "only screen and (min-width:1440px)";
  width: 1440px; }

*,
*:before,
*:after {
  box-sizing: border-box; }

html,
body {
  font-size: 100%; }

a:hover {
  cursor: pointer; }

img,
object,
embed {
  max-width: 100%;
  height: auto; }

object,
embed {
  height: 100%; }

img {
  -ms-interpolation-mode: bicubic; }

#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important; }

.left {
  float: left !important; }

.right {
  float: right !important; }

.text-left {
  text-align: left !important; }

.text-right {
  text-align: right !important; }

.text-center {
  text-align: center !important; }

.text-justify {
  text-align: justify !important; }

.hide {
  display: none; }

.antialiased {
  -webkit-font-smoothing: antialiased; }

img {
  display: inline-block;
  vertical-align: middle; }

textarea {
  height: auto;
  min-height: 50px; }

select {
  width: 100%; }

/* === Aleo Webfont ===*/
/* === subpixel font rendering ===*/
/* === http://www.intridea.com/blog/2014/5/8/better-font-smoothing-in-chrome-on-mac-os-x === */
html {
  -webkit-font-smoothing: antialiased; }

@media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-device-pixel-ratio: 1.25), only screen and (min-resolution: 200dpi), only screen and (min-resolution: 1.25dppx) {
  -webkit-font-smoothing: subpixel-antialiased; }
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.meyer-reset, .reset {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* === end meyer reset ==== */
.row {
  width: 100%;
  position: relative;
  text-align: center; }

.main {
  max-width: 67.5em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  width: 100%;
  text-align: left; }

/* ==== GRID - ie7 compatible ======== */
/*
.col {
	@include inline-block;
	width: 100%;
}

.col__wide {
	max-width: 640px;

}

.col__narrow {
	max-width: 470px;

}

*/
/*



//@media (min-width: 768px) {
	.full-width {
		@include getGridColumn(100,$col-margin);
		&.alpha {
			margin-left: 0;
			margin-right: (2*$col-margin);
		}
	}

	.half-width {
		@include getGridColumn(50,$col-margin);
		&.alpha,&.left,&.right {
			margin-left: 0;
			margin-right: (2*$col-margin);
		}
		&.right {
			float:right;
		}

	}

	.twoThirds-width {
		@include getGridColumn(66.666,$col-margin);
		&.alpha {
			margin-left: 0;
			margin-right: (2*$col-margin);
		}
	}

	.oneThird-width {
		@include getGridColumn(33.333,$col-margin);

	}

	.quarter-width {
		@include getGridColumn(25,$col-margin);

	}




	.threeQuarters-width {
		@include getGridColumn(75,$col-margin);
	}
*/
*, *:after, *:before {
  -o-box-sizing: border-box;
  box-sizing: border-box; }

html p, html li, html a, html label, html input, html form {
  font-family: "futura-pt-n4", "futura-pt" ,sans-serif;
  font-style: normal;
  font-weight: 400; }

.row__content {
  padding-bottom: 100px;
  background: #275287 url( ../images/bg-image_solar-installation.jpg) 80% center repeat-x;
  background-size: cover;
  height: 730px; }

.form__wrapper {
  display: inline-block;
  width: 94%;
  max-width: 475px;
  min-height: 400px;
  margin: 60px 3% 10px 3%;
  overflow: hidden;
  position: relative;
  background-color: white;
  border-top: 10px solid #F4AF32;
  vertical-align: middle;
  border-radius: 6px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.4); }

.form__slogan {
  width: 100%;
  max-width: 350px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 2.5%;
  color: white;
  text-align: center;
  height: 280px;
  margin-top: 200px;
  float: right; }
  .form__slogan h1 {
    font-size: 48px;
    font-family: "league-gothic",sans-serif;
    font-style: normal;
    font-weight: 400; }
  .form__slogan p {
    font-size: 22px; }

.branding.solar-tribune {
  display: inline-block;
  text-indent: -9999px;
  width: 320px;
  height: 50px;
  background: url( ../images/logo_solar-tribune-short-dk.png) center center no-repeat;
  background-size: contain;
  vertical-align: middle;
  margin: 10px 0; }

nav.top-nav {
  display: none;
  background-color: orange;
  width: 150px;
  height: 50px;
  vertical-align: middle; }

.row.row__top-bar {
  background-color: #f2f2f2; }

form.form__solar-quote {
  -webkit-transition: all 1s ease-in-out .75s;
          transition: all 1s ease-in-out .75s;
  min-height: 400px;
  position: relative;
  overflow: hidden; }

.form__panel-wrap {
  -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
  position: absolute;
  top: 0;
  left: 0;
  height: 400px;
  width: 3000px;
  display: block; }

fieldset.form-panel {
  position: relative;
  height: 400px;
  width: 100%;
  max-width: 475px;
  display: inline-block;
  background: white;
  vertical-align: top;
  padding: 30px 50px 50px 50px;
  -webkit-transition: all .3s linear;
          transition: all .3s linear; }
  fieldset.form-panel:after {
    position: absolute;
    top: 5px;
    left: 110px;
    color: #999; }
  fieldset.form-panel h2 {
    width: 100;
    text-align: center;
    font-size: 24px;
    margin-bottom: 40px; }

ul.form-panel__field-layout li {
  margin-bottom: 25px;
  position: relative;
  text-align: center; }

.form-panel__field-layout label {
  display: inline-block;
  margin-bottom: 25px;
  margin-right: 15px;
  width: auto;
  font-size: 20px;
  -webkit-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out;
  width: 100%; }
.form-panel__field-layout label.radio-circles {
  display: inline-block;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  vertical-align: middle;
  cursor: pointer;
  padding-top: 14px;
  font-weight: bold;
  font-size: 16px;
  background: #f2f2f2;
  color: #00BAD1;
  -webkit-transition: all .5s ease-in-out;
          transition: all .5s ease-in-out; }
  .form-panel__field-layout label.radio-circles.selected {
    background-color: #3FC0D3;
    color: white; }
.form-panel__field-layout label.displacement-effect {
  left: 12%;
  top: 10px;
  position: absolute;
  color: #148D97;
  text-align: left;
  z-index: 10; }
  .form-panel__field-layout label.displacement-effect.show {
    top: -20px;
    font-size: 16px;
    color: #999; }
.form-panel__field-layout label.label__property_ownership {
  display: inline-block; }
.form-panel__field-layout input {
  position: relative; }
.form-panel__field-layout input[type="text"], .form-panel__field-layout input[type="email"] {
  display: inline-block;
  font-size: 20px;
  margin: 0px 10px 10px 0px;
  border-radius: 6px;
  border: 2px solid #AADDE8;
  background-color: #D9EEF3;
  padding: 5px 10px;
  min-width: 300px;
  text-align: left; }
.form-panel__field-layout input[type="radio"].radio-circles {
  position: absolute;
  left: -9999px; }
.form-panel__field-layout select {
  display: inline-block;
  width: 300px;
  font-size: 20px;
  background: none;
  border: 2px solid #AADDE8;
  background-color: #D9EEF3;
  padding: 5px 10px;
  color: #148D97; }
.form-panel__field-layout input[type="submit"] {
  font-size: 25px;
  background-color: #00BBD1;
  border: 0;
  border-radius: 5px;
  color: white;
  padding: 0;
  text-transform: uppercase;
  padding: 7px 25px;
  cursor: pointer; }
.form-panel__field-layout .validationFlag {
  position: absolute;
  right: 50px;
  top: 40%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  height: 30px;
  width: 30px;
  z-index: 0;
  -webkit-transition: all 1s;
          transition: all 1s;
  background: url( ../images/sprite-field-validation.png) center top no-repeat; }
.form-panel__field-layout .validationFlag.isValid, .form-panel__field-layout .validationFlag.isNotValid, .form-panel__field-layout .validationFlag.null {
  right: 0px; }
.form-panel__field-layout .validationFlag.isValid {
  background-position: center bottom; }
.form-panel__field-layout .validationFlag.isNotValid {
  background-position: center top; }
.form-panel__field-layout .validationFlag.null {
  background-color: yellow;
  background-position: -9999px; }

.submit-status {
  position: absolute;
  top: 100%;
  left: 0;
  height: 500px;
  width: 100%;
  max-width: 475px;
  background-color: white;
  text-align: center;
  z-index: 100;
  padding: 0 50px;
  -webkit-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out; }
  .submit-status img {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    margin-top: 25px; }
  .submit-status h3 {
    font-size: 38px;
    line-height: 1.45em;
    margin-bottom: .4em; }
  .submit-status h3, .submit-status p {
    width: 100%; }
  .submit-status p {
    line-height: 1.35em;
    margin: 0 0 1em 0; }
  .submit-status a.restart {
    display: inline-block;
    padding: 5px 10px;
    background-color: #00BBD1;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    text-transform: uppercase; }
  .submit-status.show {
    top: 0%; }

.loading-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 5px;
  background-color: #00BBD1;
  -webkit-transition: width 2.3s ease-in-out;
          transition: width 2.3s ease-in-out; }
  .loading-bar.play {
    width: 100%; }

.small-text {
  font-size: 10.5px;
  text-align: center; }

select.electric_utility {
  display: none;
  opacity: 0;
  -webkit-transition: all .3s;
          transition: all .3s; }
  select.electric_utility.show {
    display: inline-block;
    opacity: 1; }

nav.nav__quote-form[data-currentstep="0"] a.step-button.step-button__0 {
  background-color: white;
  background-image: url( ../images//solar-sprites_blue.png); }
nav.nav__quote-form[data-currentstep="0"] ul li.step__0 .validation-indicator {
  background-color: white;
  border-color: white; }
nav.nav__quote-form[data-currentstep="0"] li.progress-bar {
  background-position: -270px center; }

nav.nav__quote-form[data-currentstep="1"] li.progress-bar {
  background-position: -135px center; }
nav.nav__quote-form[data-currentstep="1"] ul li.step__0 .validation-indicator, nav.nav__quote-form[data-currentstep="1"] ul li.step__1 .validation-indicator {
  background-color: white;
  border-color: white; }
nav.nav__quote-form[data-currentstep="1"] a.step-button.step-button__0, nav.nav__quote-form[data-currentstep="1"] a.step-button.step-button__1 {
  background-color: white;
  background-image: url( ../images//solar-sprites_blue.png); }

nav.nav__quote-form[data-currentstep="2"] li.progress-bar {
  background-position: 0 center; }
nav.nav__quote-form[data-currentstep="2"] ul li.step__0 .validation-indicator, nav.nav__quote-form[data-currentstep="2"] ul li.step__1 .validation-indicator, nav.nav__quote-form[data-currentstep="2"] ul li.step__2 .validation-indicator {
  background-color: white;
  border-color: white; }
nav.nav__quote-form[data-currentstep="2"] a.step-button.step-button__0, nav.nav__quote-form[data-currentstep="2"] a.step-button.step-button__1, nav.nav__quote-form[data-currentstep="2"] a.step-button.step-button__2 {
  background-color: white;
  background-image: url( ../images//solar-sprites_blue.png); }

form.form__solar-quote[data-currentstep="2"] {
  min-height: 460px; }

nav.nav__quote-form[data-currentstep="3"] a.step-button.step-button__0, nav.nav__quote-form[data-currentstep="3"] a.step-button.step-button__1, nav.nav__quote-form[data-currentstep="3"] a.step-button.step-button__2, nav.nav__quote-form[data-currentstep="3"] a.step-button.step-button__3 {
  background-color: white;
  background-image: url( ../images//solar-sprites_blue.png); }

nav.nav__quote-form {
  width: 100%;
  display: inline-block;
  position: relative;
  min-height: 130px;
  background-color: #FAB833; }
  nav.nav__quote-form:before {
    position: absolute;
    top: 0;
    right: 30px;
    color: red;
    width: 20px;
    height: 20px; }
  nav.nav__quote-form ul {
    text-align: center;
    margin-top: 15px; }
  nav.nav__quote-form ul li.step {
    display: inline-block;
    width: auto;
    margin: 0;
    text-align: center;
    position: relative;
    vertical-align: middle; }
    nav.nav__quote-form ul li.step.step__1 {
      margin: 0 100px; }
    nav.nav__quote-form ul li.step .validation-indicator {
      display: block;
      display: none;
      position: absolute;
      height: 15px;
      width: 16px;
      font-size: 10px;
      padding: 3px 0 0 0;
      left: 50%;
      top: 81%;
      border: 2px solid #E49E2C;
      z-index: 10;
      border-radius: 50%;
      background-color: #E49E2C;
      -webkit-transform: translate(-50%, 0);
          -ms-transform: translate(-50%, 0);
              transform: translate(-50%, 0);
      color: rgba(0, 0, 0, 0.6);
      text-align: center;
      -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
      transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1); }
      nav.nav__quote-form ul li.step .validation-indicator.isValid {
        background-color: green;
        color: white; }
    nav.nav__quote-form ul li.step p.action-label {
      position: absolute;
      width: 130px;
      height: 40px;
      display: block;
      text-align: center;
      font-size: 15px;
      top: 115%;
      left: 50%;
      -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
              transform: translateX(-50%); }
  nav.nav__quote-form ul li.progress-bar {
    display: inline-block;
    position: absolute;
    width: 56%;
    top: 35%;
    left: 50%;
    height: 10px;
    vertical-align: middle;
    background-color: #E49E2C;
    -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    background-image: url( ../images/white-bar.png);
    background-position: -270px center;
    background-repeat: no-repeat;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  nav.nav__quote-form span.carat {
    -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
    position: absolute;
    content: "";
    width: 10px;
    height: 0;
    border: 20px solid white;
    border-color: white transparent transparent transparent;
    border-width: 15px 20px 5px 20px;
    left: 10%;
    top: 0%;
    display: none; }

a.step-button {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #E49E2C;
  -webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image: url( ../images//solar-sprites_yellow.png);
  background-repeat: no-repeat;
  background-position: 13px center; }
  a.step-button.step-button__0 {
    background-position: -186px center; }
  a.step-button.step-button__2 {
    background-position: -385px center; }
  a.step-button.step-button__3 {
    background-position: -588px center; }

.row__footer {
  background-color: #37425A;
  min-height: 250px; }
