$imgDir: " ../images/";



@mixin transition__ease-in-out {

		-webkit-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
		-moz-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
		-o-transition: all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
		  transition:         all 600ms cubic-bezier(0.645, 0.045, 0.355, 1);
		  transform: translateZ(0);
}

$color__prime:#FAB833;
$color__accent:#F4AF32;

$color__nav-inactive:#E49E2C;
$color__nav-active:white;

$panel__width:600px;