@import "sass-modules/_media-queries.scss";

@import "sass-modules/_media-queries.scss";
@import "sass-modules/_global-settings.scss";
@import "sass-modules/_webfonts.scss";
@import "sass-modules/_mixins.scss";
@import "sass-modules/_meyer-reset.scss";

//@import "sass-mobile-modules/_mobile-grid.scss";
//@import "sass-mobile-modules/_mobile-nav.scss";
//@import "sass-mobile-modules/_mobile-panel.scss";
//@import "sass-mobile-modules/_mobile-panel-states.scss";
//@import "sass-mobile-modules/_mobile-panel-nav.scss";
//@import "sass-mobile-modules/_mobile-side-panel.scss";
//@import "sass-modules-tablet/_tablet-footer.scss";



@media #{$mobile-only} {

	.row .main {
		//background-color: blue;
		text-align: center;

			.form__wrapper {
				float:none;
				margin-left:0;
				margin-right: 0;
				width: 100%;
				text-align: left;
			}

			.form__slogan {
				//float:right;
				//width: auto;
				margin:0;
				height: auto;
				float:none;
				max-width: 90%;
				float: none;
				display: inline-block;
				margin-top: 40px;
			}

			fieldset.form-panel {
				max-width: 400px;
				padding-left:0;
				padding-right: 0;

			}


	}





 }