
*,*:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	p, li, a, label, input, form {
		@include font__futura-book;
	}
}


// =============================
// ======= overall structure ===
// =============================

.row__top-bar {
	//background-color: rgba(255,255,255,.2);
	//background:url(#{$imgDir}bg-image_solar-installation.jpg) center top no-repeat;

}

.row__content {
	padding-bottom: 100px;
	background: #275287 url(#{$imgDir}bg-image_solar-installation.jpg) 80% center repeat-x;
	background-size:cover;
	height: 730px;
	//background:url(#{$imgDir}bg-image_solar-installation.jpg) center -20px no-repeat;
}


.form__wrapper {

	display: inline-block;
	width: 94%;
	max-width: $panel__width;
	min-height:$panel__height;
	//background-color: white;
	margin: 60px 3% 10px 3%;
	overflow: hidden;
	position: relative;
	//float:left;
	background-color: white;
	border-top:10px solid $color__accent;
	vertical-align: middle;
	border-radius: 6px;
	box-shadow: 0px 0px 10px 3px rgba(0,0,0,.4);

}

.form__slogan {
	width: 100%;
	max-width: 350px;
	display: inline-block;
	//background: rgba(255,255,255,.4);
	vertical-align: middle;
	margin-left:2.5%;
	color:white;
	text-align: center;
	height: 280px;
	margin-top: 200px;
	float:right;


	h1 {
		font-size: 48px;
		@include font__league-gothic;
	}
	p {
		font-size:22px;
	}
}



