
$page-width:67.5em;
$col-margin: 2%;

.row {

	width:100%;
	position: relative;
	text-align: center;


}

.main {


		max-width: $page-width;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		overflow: hidden;
		width:100%;
		text-align: left;
}



/* ==== GRID - ie7 compatible ======== */


// STEP 1
//set margin here (as %)


// STEP 2
// Look at this cool mixin - don't mess with it
@mixin getGridColumn($colWidth,$margin,$float_dir:left) {
	width:($colWidth - (2*$margin));
	margin-left:$margin;
	margin-right:$margin;
	*margin-right:($margin*.5); // take care of the bad ie sub-pixel rounding
	*margin-left:($margin*.5);
	padding-left:0;
	padding-right:0;
	//float:$float_dir;
	position: relative;
}

/*
.col {
	@include inline-block;
	width: 100%;
}

.col__wide {
	max-width: 640px;

}

.col__narrow {
	max-width: 470px;

}

*/

/*



//@media (min-width: 768px) {
	.full-width {
		@include getGridColumn(100,$col-margin);
		&.alpha {
			margin-left: 0;
			margin-right: (2*$col-margin);
		}
	}

	.half-width {
		@include getGridColumn(50,$col-margin);
		&.alpha,&.left,&.right {
			margin-left: 0;
			margin-right: (2*$col-margin);
		}
		&.right {
			float:right;
		}

	}

	.twoThirds-width {
		@include getGridColumn(66.666,$col-margin);
		&.alpha {
			margin-left: 0;
			margin-right: (2*$col-margin);
		}
	}

	.oneThird-width {
		@include getGridColumn(33.333,$col-margin);

	}

	.quarter-width {
		@include getGridColumn(25,$col-margin);

	}




	.threeQuarters-width {
		@include getGridColumn(75,$col-margin);
	}
*/
