// pulled from foundation 5
// http://foundation.zurb.com/docs/media-queries.html
@import "_foundation-functions.scss";
// Here we define the lower and upper bounds for each media size
$mobile-range: (0em, 40em); /* 0, 640px */
$tablet-range: (40.063em, 64em); /* 641px, 1024px */
$desktop-range: (64.063em, 90em); /* 1025px, 1440px */


// Media Queries
$screen: "only screen" !default;

$landscape: "#{$screen} and (orientation: landscape)" !default;
$portrait: "#{$screen} and (orientation: portrait)" !default;

$mobile-up: $screen !default;
$mobile-only: "#{$screen} and (max-width: #{upper-bound($mobile-range)})" !default;

$tablet-up: "#{$screen} and (min-width:#{lower-bound($tablet-range)})" !default;
$tablet-only: "#{$screen} and (min-width:#{lower-bound($tablet-range)}) and (max-width:#{upper-bound($tablet-range)})" !default;

$desktop-up: "#{$screen} and (min-width:#{lower-bound($desktop-range)})" !default;
$desktop-only: "#{$screen} and (min-width:#{lower-bound($desktop-range)}) and (max-width:#{upper-bound($desktop-range)})" !default;

/*
@media #{$mobile-up} { }
@media #{$mobile-only} { }

@media #{$tablet-up} { }
@media #{$tablet-only} { }

@media #{$desktop-up} { }
@media #{$desktop-only} { }
*/
