


nav.nav__quote-form {
	width: 100%;
	display: inline-block;
	position: relative;
	min-height:130px;
	background-color: $color__prime;

	&:before {
		//content: attr(data-currentstep);
		position: absolute;
		top:0;
		right:30px;
		color:red;
		width: 20px;
		height: 20px;
	}

	ul {
		text-align: center;
		margin-top: 15px;
	}

	 ul li.step {
	 	display: inline-block;
	 	width: auto;
	 	//min-height: 100px;
	 	//background-color: red;
	 	margin: 0;
	 	text-align: center;
	 	//padding:20px;
	 	position: relative;
	 	vertical-align: middle;
	 	//margin: 0 45px;

	 	&.step__1 {
			margin: 0 100px;
	 	}

		.validation-indicator {
		display: block;
		display: none;
		position:absolute;
		height: 15px;
		width: 16px;
		font-size: 10px;
		padding: 3px 0 0 0 ;
		left: 50%;
		top:81%;
		border:2px solid $color__nav-inactive;
		//padding: 0;
		z-index: 10;
		border-radius: 50%;
		background-color: $color__nav-inactive;
		transform: translate(-50%,0);
		color:rgba(0,0,0,.6);
		text-align: center;
		@include transition__ease-in-out;
		&.isValid {
			background-color: green;
			color:white;

		}

	}



	 	p.action-label {
	 		position:absolute;
	 		width: 130px;
	 		height: 40px;
	 		display: block;
	 		text-align: center;
	 		font-size: 15px;
	 		//background-color: red;
	 		//border:1px solid red;
	 		top:115%;
	 		left:50%;
	 		transform:translateX(-50%);
	 		//font-weight: bold;
	 	}

	 }


	 ul li.progress-bar {
	 	display: inline-block;
	 	position: absolute;
	 	width: 56%;
	 	top:35%;
	 	left: 50%;
	 	height: 10px;
	 	vertical-align: middle;
	 	background-color: $color__nav-inactive;
	 	@include transition__ease-in-out;
	 	background-image: url(#{$imgDir}white-bar.png);
	 	background-position: -270px center;
	 	background-repeat: no-repeat;
	 	//background-size: 100%;
	 	transform: translate(-50%,-50%);	 	

	 }

	 span.carat {
	 	@include transition__ease-in-out;
	 	position: absolute;
	 	content:"";
	 	width: 10px;
	 	height:0;
	 	border:20px solid white;
	 	border-color:white transparent transparent transparent;
	 	border-width: 15px 20px 5px 20px;
	 	left:10%;
	 	top:0%;
	 	display: none;
	 }
}

a.step-button {
	display: inline-block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color:$color__nav-inactive;
	@include transition__ease-in-out;

	background-image:url(#{$imgDir}/solar-sprites_yellow.png);
	background-repeat: no-repeat;
	background-position: 13px center;




	&:hover,&.selected {
		//background-color:$color__nav-active;
		//background-image:url(#{$imgDir}/solar-sprites_blue.png);
	}



	&.step-button__0 {
		background-position: -186px center;
	}
	&.step-button__1 {
	
	}
	&.step-button__2 {
		background-position: -385px center;
	}
	&.step-button__3 {
		background-position: -588px center;
	}
}




