

nav.nav__quote-form[data-currentstep="0"] {

	li.line.line__0 {
	//	background-color:$color__nav-active;
	}

	a.step-button.step-button__0 {
		background-color:$color__nav-active;
		background-image:url(#{$imgDir}/solar-sprites_blue.png);
	}
	

	ul li.step__0 .validation-indicator {
		background-color:white;
		border-color:$color__nav-active;
	}

	li.progress-bar {
		background-position: -270px center;
	}

}

nav.nav__quote-form[data-currentstep="1"] {

	li.progress-bar {
		background-position: (-270px / 2) center;
	}

	ul li.step__0, ul li.step__1 {
		.validation-indicator {
		background-color:$color__nav-active;
		border-color:$color__nav-active;
		}
	}

	a.step-button.step-button__0, a.step-button.step-button__1 {
		background-color:$color__nav-active;
		background-image:url(#{$imgDir}/solar-sprites_blue.png);
	}

}

nav.nav__quote-form[data-currentstep="2"] {

	li.progress-bar {
		background-position: 0 center;
	}

	ul li.step__0, ul li.step__1, ul li.step__2 {
		.validation-indicator {
		background-color:$color__nav-active;
		border-color:$color__nav-active;
		}
	}

	a.step-button.step-button__0,a.step-button.step-button__1,a.step-button.step-button__2 {
		background-color:$color__nav-active;
		background-image:url(#{$imgDir}/solar-sprites_blue.png);
	}

}


form.form__solar-quote { 	

	&[data-currentstep="2"]  {
		min-height: 460px;
	}

}



nav.nav__quote-form[data-currentstep="3"] {

	

	a.step-button.step-button__0,a.step-button.step-button__1,a.step-button.step-button__2,a.step-button.step-button__3 {
		background-color:$color__nav-active;
		background-image:url(#{$imgDir}/solar-sprites_blue.png);
	}

}