
// =============================
// ======= Solar Form ==========
// =============================



form.form__solar-quote {
	transition: all 1s ease-in-out .75s;
	//white-space: nowrap;
	min-height: $panel__height;
	position: relative;
	overflow: hidden;

}

.form__panel-wrap {

	@include transition__ease-in-out;

	position:absolute;
	top:0;
	left:0;
	height:$panel__height;
	width: 3000px;
	display: block;
	//border:1px solid red;
	//background-color: red;
	//transition: all .3s ease-in-out;

}

fieldset.form-panel {
	//min-height: 375px;
	position:relative;
	height: $panel__height;
	width: 100%;
	max-width: $panel__width;
	display: inline-block;
	background: white;
	vertical-align: top;
	padding: 30px 50px 50px 50px;
	transition: all .3s linear;

	&:after {
		//content: " | valid fields " attr(data-validFields) " | total fields " attr(data-totalFields) " | invalid fields " attr(data-invalidFields);
		position: absolute;
		top: 5px;
		left: 110px;
		color:#999;
	}

	//border:1px solid green;

	h2 {
		width: 100;
		text-align: center;
		font-size: 24px;
		margin-bottom: 40px;
	}
}

ul.form-panel__field-layout {
	//margin:50px;
		li {
			//border: 1px solid rgba(0,0,30,.1);
			margin-bottom: 25px;
			//margin-left: 100px;
			position:relative;
			text-align: center;

		}
	}

.form-panel__field-layout {

	label {
		display: inline-block;
		margin-bottom: 25px;
		margin-right: 15px;
		width: auto;
		//text-align: right;
		font-size: 20px;
		transition: all .5s ease-in-out;
		width: 100%;
	}

	label.radio-circles {
		display: inline-block;
		//border:1px solid #88D2E1;
		border-radius: 50%;
		height: 45px;
		width: 45px;
		vertical-align: middle;
		cursor: pointer;
		padding-top: 14px;
		font-weight: bold;
		font-size: 16px;
		background: #f2f2f2;

		color:#00BAD1;
		transition:all .5s ease-in-out;

		&.selected {
			background-color: #3FC0D3;
			color:white;
		}
	}

	label.displacement-effect {
		left:12%;
		//transform: translateX(-50%);
		top:10px;
		position:absolute;
		color:#148D97;
		text-align: left;
		z-index: 10;
		&.show {
			//left:50%;
			top:-20px;
			font-size: 16px;
			color:#999;

		}
	}


	label.label__property_ownership {
		display: inline-block;

	}

	input {
		position: relative;
	}



	input[type="text"],input[type="email"] {
		display: inline-block;
		font-size: 20px;
		margin:0px 10px 10px 0px;
		border-radius: 6px;
		border:2px solid #AADDE8;
		background-color: #D9EEF3;
		padding: 5px 10px;
		min-width: 300px;
		text-align: left;


	}

	input[type="radio"].radio-circles {
		position: absolute;
		left:-9999px;
	}

	select {
		display: inline-block;
		width: 300px;
		font-size: 20px;
		background: none;
		border:2px solid #AADDE8;
		background-color: #D9EEF3;
		padding: 5px 10px;
		color:#148D97;
	}

	input[type="submit"] {
		font-size: 25px;
		background-color: #00BBD1;
		border: 0;
		border-radius: 5px;
		color:white;
		padding: 0;
		text-transform: uppercase;
		padding: 7px 25px;
		cursor: pointer;
	}

	.validationFlag {

				position: absolute;
				right:50px;
				top:40%;
				transform: translateY(-50%);
				display: block;
				height: 30px;
				width: 30px;
				//background-color: silver;
				//border-radius: 50%;
				z-index: 0;
				transition: all 1s;
				background: url(#{$imgDir}sprite-field-validation.png) center top no-repeat;

	}

	.validationFlag  {

		&.isValid,&.isNotValid,&.null {
			right:0px;

		}

		&.isValid {
			//background-color: green;
			background-position: center bottom;
		}
		&.isNotValid {
			//background-color: red;
			background-position: center top;
		}
		&.null {
			background-color: yellow;
			background-position: -9999px;
		}
	}


}

.submit-status {
	
	position: absolute;
	top:100%;
	left:0;
	height: $panel__height + 100;
	width: 100%;
	max-width: $panel__width;
	background-color: white;
	text-align: center;
	z-index: 100;
	padding: 0 50px;
	transition:all .3s ease-in-out;

	img {
		@include inline-block;
		margin-top: 25px;
	}

	h3 {
		font-size: 38px;
		line-height: 1.45em;
		margin-bottom: .4em;
	}


	h3,p {
		width: 100%;

	}
	
	p {
		line-height: 1.35em;
		margin: 0 0 1em 0;
	}

	a.restart {
		display: inline-block;
		padding: 5px 10px;
		background-color: #00BBD1;
		border-radius: 5px;
		color:white;
		text-decoration: none;
		text-transform: uppercase;
	}
	

	&.submit-status__success {
		
	}
	&.submit-status__fail {
		
	}

	&.show {
		//display: block;
		top:0%;
	}
	

}


.loading-bar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	height: 5px;
	background-color: #00BBD1;
	transition:width 2.3s ease-in-out;
	&.play {
		width: 100%;
	}

}

.small-text {
	font-size: 10.5px;
	text-align: center
}

select.electric_utility {
	display: none;
	opacity: 0;
	transition:all .3s;
	&.show {
		display: inline-block;
		opacity: 1;
	}
}
