/* === Aleo Webfont ===*/
@mixin font__league-gothic {
	font-family: "league-gothic",sans-serif;
	font-style: normal;
	font-weight: 400;
}


@mixin font__futura-book {
	font-family: "futura-pt-n4", "futura-pt" ,sans-serif;
	font-style: normal;
	font-weight: 400;
}

@mixin font__futura-medium {
	font-family: "futura-pt-n5", "futura-pt" ,sans-serif;
	font-style: normal;
	font-weight: 500;
}


/* === subpixel font rendering ===*/
/* === http://www.intridea.com/blog/2014/5/8/better-font-smoothing-in-chrome-on-mac-os-x === */

html {
    -webkit-font-smoothing: antialiased;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 1.25),
only screen and ( min-device-pixel-ratio: 1.25),
only screen and ( min-resolution: 200dpi),
only screen and ( min-resolution: 1.25dppx)
{
    -webkit-font-smoothing: subpixel-antialiased;
}

