// branding
.branding.solar-tribune {
	display: inline-block;
	text-indent: -9999px;
	width: 320px;
	height: 50px;
	background: url(#{$imgDir}logo_solar-tribune-short-dk.png) center center no-repeat;
	background-size: contain;
	vertical-align: middle;
	margin: 10px 0;
}

// nav

nav.top-nav {
	display: none; //inline-block;
	background-color: orange;
	width: 150px;
	height: 50px;
	vertical-align: middle;
}

.row.row__top-bar {
	background-color: #f2f2f2;
}