

nav.nav__quote-form[data-currentstep="0"] {

	li.line.line__0 {
	//	background-color:$color__nav-active;
	}

	a.step-button.step-button__0 {
		background-color:$color__nav-active;
		background-image:url(#{$imgDir}/solar-sprites_blue.png);
	}

}

nav.nav__quote-form[data-currentstep="1"] {

	li.line.line__0 {
		//background-color:$color__nav-active;
		background-position: 0 center;
	}

	a.step-button.step-button__0, a.step-button.step-button__1 {
		background-color:$color__nav-active;
		background-image:url(#{$imgDir}/solar-sprites_blue.png);
	}

}

nav.nav__quote-form[data-currentstep="2"] {

	li.line.line__0,li.line.line__1 {
		background-position: 0 center;
	}

	a.step-button.step-button__0,a.step-button.step-button__1,a.step-button.step-button__2 {
		background-color:$color__nav-active;
		background-image:url(#{$imgDir}/solar-sprites_blue.png);
	}

}



nav.nav__quote-form[data-currentstep="3"] {

	li.line.line__0,li.line.line__1,li.line.line__2,li.line.line__3 {
		background-position: 0 center;
	}

	a.step-button.step-button__0,a.step-button.step-button__1,a.step-button.step-button__2,a.step-button.step-button__3 {
		background-color:$color__nav-active;
		background-image:url(#{$imgDir}/solar-sprites_blue.png);
	}

}