
// =============================
// ======= Solar Form ==========
// =============================
$panel__width:475px;
$panel__height:400px;
.form__wrapper {

	display: inline-block;
	width: 94%;
	max-width: $panel__width;
	min-height:$panel__height;
	//background-color: white;
	margin: 60px 3% 10px 3%;
	overflow: hidden;
	position: relative;
	//float:left;
	background-color: white;
	border-top:10px solid $color__accent;
	vertical-align: middle;
	border-radius: 6px;

	box-shadow: 0px 0px 10px 3px rgba(0,0,0,.4);
}

form.form__solar-quote {
	transition: all 1s ease-in-out .75s;
	//white-space: nowrap;
	min-height: $panel__height;
	position: relative;
	//width: 100%;
	//max-width: $panel__width;
	
	overflow: hidden;


	&[data-currentstep="2"]  {
		min-height: 450px;
	}


}

.form__panel-wrap {

	@include transition__ease-in-out;

	position:absolute;
	top:0;
	left:0;
	height:$panel__height;
	width: 3000px;
	display: block;
	//border:1px solid red;
	//background-color: red;
	//transition: all .3s ease-in-out;

}

fieldset.form-panel {
	//min-height: 375px;
	position:relative;
	height: $panel__height;
	width: 100%;
	max-width: $panel__width;
	display: inline-block;
	background: white;
	vertical-align: top;
	padding: 30px 50px 50px 50px;
	transition: all .3s linear;

	&:after {
		content: " | valid fields " attr(data-validFields) " | total fields " attr(data-totalFields) " | invalid fields " attr(data-invalidFields);
		position: absolute;
		top: 5px;
		left: 110px;
		color:#999;
	}

	//border:1px solid green;

	h2 {
		width: 100;
		text-align: center;
		font-size: 24px;
		margin-bottom: 40px;
	}
}

ul.form-panel__field-layout {
	//margin:50px;
		li {
			//border: 1px solid rgba(0,0,30,.1);
			margin-bottom: 25px;
			//margin-left: 100px;
			position:relative;
			text-align: center;

		}
	}

.form-panel__field-layout {

	label {
		display: inline-block;
		margin-bottom: 25px;
		margin-right: 15px;
		width: auto;
		//text-align: right;
		font-size: 20px;
		transition: all .5s ease-in-out;
		width: 100%;
	}

	label.radio-circles {
		display: inline-block;
		//border:1px solid #88D2E1;
		border-radius: 50%;
		height: 45px;
		width: 45px;
		vertical-align: middle;
		cursor: pointer;
		padding-top: 14px;
		font-weight: bold;
		font-size: 16px;
		background: #f2f2f2;

		color:#00BAD1;
		transition:all .5s ease-in-out;

		&.selected {
			background-color: #3FC0D3;
			color:white;
		}
	}

	label.displacement-effect {
		left:12%;
		//transform: translateX(-50%);
		top:10px;
		position:absolute;
		color:#148D97;
		text-align: left;
		z-index: 10;
		&.show {
			//left:50%;
			top:-20px;
			font-size: 16px;
			color:#999;

		}
	}


	label.label__property_ownership {
		display: inline-block;

	}

	input {
		position: relative;
	}



	input[type="text"] {
		display: inline-block;
		font-size: 20px;
		margin:0px 10px 10px 0px;
		border-radius: 6px;
		border:2px solid #AADDE8;
		background-color: #D9EEF3;
		padding: 5px 10px;
		min-width: 300px;
		text-align: left;


	}

	#zip {
		//min-width: 50px;
	}

	input[type="radio"].radio-circles {
		position: absolute;
		left:-9999px;
	}

	select {
		display: inline-block;
		width: 300px;
		font-size: 20px;
		background: none;
		border:2px solid #AADDE8;
		background-color: #D9EEF3;
		padding: 5px 10px;
		color:#148D97;
	}

	input[type="submit"] {
		font-size: 25px;
		background-color: #00BBD1;
		border: 0;
		border-radius: 5px;
		color:white;
		padding: 0;
		text-transform: uppercase;
		padding: 7px 25px;
		cursor: pointer;
	}

	.validationFlag {
				content:"151";
				position: absolute;
				right:50px;
				top:10px;
				display: block;
				height: 20px;
				width: 20px;
				//background-color: silver;
				border-radius: 50%;
				z-index: 0;
				transition: all 1s;

	}

	.validationFlag  {

		&.isValid,&.isNotValid,&.null {
			right:10px;
		}

		&.isValid {
			background-color: green;
		}
		&.isNotValid {
			background-color: red;
		}
		&.null {
			background-color: yellow;
		}
	}


}


.loading-bar {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	height: 5px;
	background-color: #00BBD1;
	transition:width 2.3s ease-in-out;
	&.play {
		width: 100%;
	}

}

.small-text {
	font-size: 10.5px;
	text-align: center
}

select.electric_utility {
	display: none;
	opacity: 0;
	transition:all .3s;
	&.show {
		display: inline-block;
		opacity: 1;
	}
}
