.form__slogan {
	width: 100%;
	max-width: 400px;
	display: inline-block;
	//background: rgba(255,255,255,.4);
	vertical-align: middle;
	margin-left:2.5%;
	color:white;
	text-align: center;
	height: 280px;

	h1 {
		font-size: 48px;
		@include font__league-gothic;
	}
	p {
		font-size:22px;
	}
}


