
/*

nav.nav__quote-form {
	width: 100%;
	display: inline-block;
	position: relative;
	min-height:130px;
	background-color: $color__prime;

	&:before {
		//content: attr(data-currentstep);
		position: absolute;
		top:0;
		right:30px;
		color:red;
		width: 20px;
		height: 20px;
	}

	ul {
		text-align: center;
		margin-top: 15px;
	}

	 ul li.step {
	 	display: inline-block;
	 	width: auto;
	 	//min-height: 100px;
	 	//background-color: red;
	 	margin: 0;
	 	text-align: center;
	 	//padding:20px;
	 	position: relative;
	 	vertical-align: middle;



	 	p.action-label {
	 		position:absolute;
	 		width: 130px;
	 		height: 40px;
	 		display: block;
	 		text-align: center;
	 		font-size: 15px;
	 		//background-color: red;
	 		//border:1px solid red;
	 		top:115%;
	 		left:50%;
	 		transform:translateX(-50%);
	 		//font-weight: bold;
	 	}

	 }


	 ul li.line {
	 	display: inline-block;
	 	width: 100px;
	 	height: 10px;
	 	vertical-align: middle;
	 	background-color: $color__nav-inactive;
	 	@include transition__ease-in-out;
	 	background-image: url(#{$imgDir}white-bar.png);
	 	background-position: -200px center;
	 	background-repeat: no-repeat;
	 }

	 span.carat {
	 	@include transition__ease-in-out;
	 	position: absolute;
	 	content:"";
	 	width: 10px;
	 	height:0;
	 	border:20px solid white;
	 	border-color:white transparent transparent transparent;
	 	border-width: 15px 20px 5px 20px;
	 	left:10%;
	 	top:0%;
	 	display: none;
	 }
}

a.step-button {
	display: inline-block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color:$color__nav-inactive;
	@include transition__ease-in-out;

	background-image:url(#{$imgDir}/solar-sprites_yellow.png);
	background-repeat: no-repeat;
	background-position: 13px center;


	&:hover,&.selected {
		//background-color:$color__nav-active;
		//background-image:url(#{$imgDir}/solar-sprites_blue.png);
	}



	&.step-button__0 {

	}
	&.step-button__1 {
		background-position: -186px center;
	}
	&.step-button__2 {
		background-position: -385px center;
	}
	&.step-button__3 {
		background-position: -588px center;
	}
}


a.prompt__autoforward {
	display: inline-block;
	//width: 200px;
	//height: 50px;
	padding: 10px 40px 13px 40px;
	text-align: center;
	color: darker(#00BBD1,5%);
	border: 1px solid #B1E0EA;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
	background-color: #D9EEF3;
	opacity:0;
	transition: all .3s ease-out;


	span {
		display: block;
		position: absolute;
		bottom: 0;
		left:0;
		width: 5%;
		height: 100%;
		background-color: #00BBD1;
		transition: all 2s ease-out;
		opacity:.5;
	}

	&.show {
		span {
			width: 100%
		}
		opacity:1;

	}


}




.nav__directional {
	width: 100%;
	display: block;
	//min-height: 40px;
	text-align: center;
	background: transparent;
	position: absolute;
	bottom: 0;
	left:0;
	display: none;

	li {
		//background-color: mix(#F8C661,#FEDA34,40%);
		display: block;
		width: 20%;
		text-align: center;
		font-size: 16px;
		color:white;
		padding-top: 8px;
		min-height: 40px;
		color:#C18335;
		padding:13px 5px 0;
		background:url(#{$imgDir}bg-next-prev-button.png) center top no-repeat;
		cursor: pointer;




		&:first-of-type {
			float: left;
			background-position:100% top;
			text-align: left;
		}

		&:last-of-type {
				float: right;
				background-position:0 top;
				text-align: right;

		}
	}
}

*/
