
$page-width:67.5em;
$col-margin: 2%;

.row {

	width:100%;
	position: relative;
	text-align: center;


}

.main {


		//max-width: $page-width;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		overflow: hidden;
		width:100%;
		text-align: left;
}


